monolog:
    handlers:
        main:
            type: rotating_file
            path: "%kernel.project_dir%/logs/app.log"
            level: debug
            max_files: 10
            channels: ["!event"]
        console:
            type: console
            process_psr_3_messages: false
            channels: ["!event", "!doctrine", "!console"]
